.block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.name {
		padding: 10px 20px;
		background-color: #252139;
		border-radius: 10px;
		margin-bottom: 10px;
	}
}
